{% extends 'base.html.twig' %}
{% block title %} Detail employee {% endblock %}
{% block body %}


    <!-- Main section -->
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
        <h1 class="text-3xl font-bold text-gray-900 mb-6">Oferta Apartamentow</h1>
      
      



{% if apartament %}
    <h1>{{ apartament.name }}</h1>
    <p>Price: {{ apartament.price }}</p>
    <p>Description: {{ apartament.description }}</p>
{% else %}
    <p>Company not found.</p>
{% endif %}
<a href="{{ path('app_welcome') }}">Powrót do listy firm</a>

      </div>
    </main>
{% endblock %}